.pt-triggers
  %button.pt-touch-button.pt-triggers.right{"data-direction"=>"next"} Next
  %button.pt-touch-button.pt-triggers.left{"data-direction"=>"prev"} Prev

#pt-main.pt-perspective
  - @landmarks.each_with_index do |landmark, index|
    = render 'landmark', :index=>index, :landmark=>landmark

.pt-message
  %p Your browser does not support CSS animations.